[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
asyncpg = "*"
fastapi = "*"
gunicorn = "*"
tortoise-orm = "*"
uvicorn = "*"
newspaper3k = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
