[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
asyncpg = "==0.21.0"
fastapi = "==0.62.0"
gunicorn = "20.0.4"
tortoise-orm = "==0.16.18"
uvicorn = "==0.13.1"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
dev = "uvicorn app.main:app --reload"
